@using KMISMModels
@using KMISMEntities;
@model IEnumerable<KMISMEntities.Student>

@{
    ViewBag.Title = "Index";
    StudentSearchModel search = ViewBag.search as StudentSearchModel;
    Pagination pagination = search.Pagination;
    LoginUser loginUser = User.Identity as LoginUser;
}

<h2>Index</h2>


<div class="page-heading">
    <section class="section">
        <div class="card">
            <div class="card-header">
                Student    List
            </div>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            @Html.Partial("search", search, null)

            @Html.ActionLink("Add", "Add")

        <div id="divTable">
            @Html.Partial("Table", Model, ViewData);
       </div>
    </section>
</div>