@model PolicyModels.PolicyDtls

@{
    ViewData["Title"] = "page1";
}

<h2>page1</h2>

<h4>PolicyDtls</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="page1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecID" class="control-label"></label>
                <input asp-for="RecID" class="form-control" />
                <span asp-validation-for="RecID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustID" class="control-label"></label>
                <input asp-for="CustID" class="form-control" />
                <span asp-validation-for="CustID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policyname" class="control-label"></label>
                <input asp-for="Policyname" class="form-control" />
                <span asp-validation-for="Policyname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyStatus" class="control-label"></label>
                <input asp-for="PolicyStatus" class="form-control" />
                <span asp-validation-for="PolicyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
