# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
*.dll
*.pdb
*.zip
*.cache
*.rar
# dependencies
/node_modules
/bin 
/debug

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
WebCore/WebCoreRepositoryLayer/obj/Debug/netcoreapp3.1/WebCoreRepositoryLayer.csproj.AssemblyReference.cache
WebCore/WebCoreRepositoryLayer/obj/Debug/netcoreapp3.1/WebCoreRepositoryLayer.csproj.AssemblyReference.cache
*.dll
*.pdb
*.cache
*.cache
*.pdb
*.dll
*.dll
WebCore/WebApiCore/bin/Debug/netcoreapp3.1/WebApiCore.dll
*.txt
WebCore/.vs/WebCore/v16/.suo
*.dll
*.cache
*.cache
