# See http://help.github.com/ignore-files/ for more about ignoring files.
*.v2
//*.v2
.vs
*.suo
//*.suo
*.futdcache.v1
//*.futdcache.v1
# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
*.pdb
*.zip
*.cache
*.rar
# dependencies
/node_modules
/debug
*.dll
//debug
# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
//obj
//obj/*
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
obj
# System Files
.DS_Store
Thumbs.db
WebCore/WebCoreRepositoryLayer/obj/Debug/netcoreapp3.1/WebCoreRepositoryLayer.csproj.AssemblyReference.cache
WebCore/WebCoreRepositoryLayer/obj/Debug/netcoreapp3.1/WebCoreRepositoryLayer.csproj.AssemblyReference.cache
*.pdb
*.cache
*.cache
*.pdb
//bin
//obj

WebCore/WebApiCore/bin/Debug/netcoreapp3.1/WebApiCore.dll
*.txt
WebCore/.vs/WebCore/v16/.suo
*.cache
*.cache
*.dll
