@using PolicyModels
@model CustomerDetails
@{
}
<form action="/customerdtls/index" method="post">
    <div>
        <div>
            <label for="id">
                Rec Id
            </label>
            <input type="text" name="RecID" value="" />

        </div>
        <div>
            <label for="id">
                Customer Id
            </label>
            <input type="text" name="CustID" value="" class="form-control" />

        </div>
        <div>
            <label for="id">
                Fname
            </label>
            <input type="text" name="FName" value="" class="form-control"/>

        </div>
        <div>
            <label for="id">
                Lname
            </label>
            <input type="text" name="Lname" value="" class="form-control" />
        </div>
        <button id="btnSave" type="submit" formaction="/customerdtls/Add" formmethod="post" class="btn btn-success">Save</button>&nbsp;&nbsp;
        <button id="btnAdd" type="submit" formaction="/customerDtls/Add" formmethod="get" class="btn btn-primary">Add</button>
    </div>
</form>