<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogFile="G:\NLogErrors\log.txt">
	<extensions>
		<!-- load NLog.Extended to enable ASP.NET-specific functionality -->
		<add assembly="NLog.Extended" />
	</extensions>
	<!--Define Various Log Targets like files, database or asp.net trace files-->
	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${message}" />
		<!--Write logs to File  where we want to write error logs-->
		<target name="logfile" xsi:type="File" fileName="D:/kmi/8jun/first/Log/${date:format=yyyy-MM-dd}-api.log" />

	</targets>

	<rules>
		   
        <logger name="*" minlevel="Trace" writeTo="logfile" />  
   

	</rules>
</nlog>
