
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";
}

<div id="auth">

    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo"></a>
                </div>
                <h1 class="auth-title">Log in.</h1>
                <p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p>


                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="text" class="form-control form-control-xl" id="name" name="Name" placeholder="Username">
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" class="form-control form-control-xl" id="password" name="password" placeholder="Password">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                    <div class="form-check form-check-lg d-flex align-items-end">
                        <input class="form-check-input me-2" type="checkbox" name="keepmelogin" value="yes" id="flexCheckDefault">
                        <label class="form-check-label text-gray-600" for="flexCheckDefault">
                            Keep me logged in
                        </label>
                    </div>
                    <button type="button" onclick="login()" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
                }
                <div class="text-center mt-5 text-lg fs-4">
                    <p class="text-gray-600">
                        Don't have an account? <a href="auth-register.html"
                                                  class="font-bold">
                            Sign
                            up
                        </a>.
                    </p>
                    <p><a class="font-bold" href="auth-forgot-password.html">Forgot password?</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">

            </div>
        </div>
    </div>

</div>

<script>

    function login() {
        var namele = document.getElementById("name");
        var passele = document.getElementById("password");

        var obj = {
            name: namele.value,
            password: namele.value
        }
        debugger;
        $.ajax("https://localhost:44311/api/LoginApi/Login", {

            success: function (output) {
                debugger;
            },
            error: function (err) {
                debugger;
            },
            data: JSON.stringify( obj),
            method: "post",
            contentType: "application/json",
            accepts: "application/json"
        });


    }
</script>


