@{
    ViewBag.Title = "Home Page";
}


<br />
@*@using (Html.BeginForm("ChangeUser", "Home", FormMethod.Post, new { @id="frm"}))*@

@using (Ajax.BeginForm("ChangeUser", "Home", new AjaxOptions { HttpMethod="post", UpdateTargetId="updateDiv", OnSuccess="successAjax" }, new { @id = "frm" }))
{


    @Html.DropDownList("userList", null, new { @onchange = "changeUser()" })

<div id="updateDiv">
    @Html.DropDownList("subjectList")
</div>

    
}


<script>

    function successAjax(res) {
        debugger;
    }
    function changeUser() {

        $("#frm").submit();

    }

</script>