
@using PolicyModels
@model Payment
@{
}
<form action="/customerdtls/index" method="post" class="form-group">
    <div class="container w3-margin-top">
        <div class="row form-group">
            <div class="col-sm-3">
                <label for="id">
                    Rec Id:
                </label>
            </div>
            <div class="col-sm-3">
                <input type="text" name="RecID" value="" class="form-control"/>
                @Html.ValidationMessage("RecID");
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="id">
                    Customer Id
                </label>
            </div>
                <div class="col-sm-3">
                    <input type="text" name="CustID" value="" class="form-control" />
                    @Html.ValidationMessage("CustID");
                </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            <label for="id">
                Fname
            </label>
            <input type="text" name="FName" value="" class="form-control"/>

        </div>
        <div>
            <label for="id">
                Lname
            </label>
            <input type="text" name="Lname" value="" class="form-control" />
        </div>
        <button id="btnSave" type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;
    </div>
    </div>
</form>