
@{
    ViewBag.Title = "Index";
}

<h1 class="h1issue">You do not have permission for request.</h1>
<h2 class="h2issue"> Please contact admin</h2>

<style>

    .h1issue{
        color: red;
        font-size: 28px;
        font-weight: bold;
    }

    .h2issue {
        color: red;
        font-size: 24px;
        font-weight: bold;
    }
</style>

